<div class="container-fluid landing">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h2>Computer Vision DJ</h2>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Morbi tristique senectus et netus et.
      </h3>
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="form-control" id="sessionId" placeholder="Room/Session ID">
        </div>
        <div class="col-md-6 text-md-right">
          <button 
          type="submit" 
          class="btn btn-primary"
          routerLink="/connect">
          Join Room/Session
        </button>
      </div>
    </div>
  </div>
</div>