<div class="container landing">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2>Computer Vision DJ</h2>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      </h3>
      <div class="row">
        <div class="col-md-6 d-flex justify-content-center">
          <button 
          type="submit" 
          class="btn btn-primary"
          (click)="onClick()"
          routerLink="/create">
          Create Room
          </button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <button 
          type="submit" 
          class="btn btn-primary"
          (click)="onClick()"
          routerLink="/join">
          Join Room
          </button>
        </div>
      </div>
    </div>
  </div>
</div>