.toolbar {
  margin-bottom: 32px;
  position: relative;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}
.logo {
  width: 40px;
  margin-left: 20px;
}
ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
}
li {
  height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}