<nav class="toolbar">
  <a class="navbar-brand" href="#">
    <img class="logo"
    alt="CVDJ Logo"
    src="../../assets/images/cvdj-logo.svg"
  />
  </a>
  <ul>
    <!-- <li class="nav-item">
      <a class="nav-link">About us</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link"
      (click)="openModal(emotionModal)">How it works</a>
    </li>
  </ul>
</nav>

<ng-template #emotionModal let-modal>
  <div class="modal-body">
    <button type="button" class="close" aria-label="Close" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
    <emotion-modal></emotion-modal>
  </div>
</ng-template>