<div class="container connect">
  <div class="row">
    <div class="col-md-6 my-auto">
      <user-camera></user-camera>
    </div>
    <div class="col-md-6 my-auto">
      <h2>Connect your webcam</h2>
      <h3>
        Connecting your camera allows for CVDJ to process your reactions as you listen and determine what songs to play next.
      </h3>
      <div class="row connect-btns">
        <div class="col-s-4">
          <button 
          type="submit" 
          class="btn btn-primary"
          (click)="onClick()"
          >
          Connect
        </button>
      </div>
      <div class="col-s-4 text-nowrap">
        <button 
        type="submit" 
        class="btn btn-secondary"
        routerLink="/main">
        Connect without camera
      </button>
    </div>
  </div>
</div>