<div class="container connect">
  <div class="row">
    <div class="col-md-6 my-autor">
      <img class="webcam"
      alt="webcam"
      src="../../assets/images/placeholder.svg"
      />
    </div>
    <div class="col-md-6 my-auto">
      <h2>Connect your webcam</h2>
      <h3>
        Connecting your camera allows for CVDJ to process your reactions as you listen.
      </h3>
      <div class="row connect-btns">
        <div class="col-s-4">
          <button 
          type="submit" 
          class="btn btn-primary"
          routerLink="/main">
          Connect
        </button>
      </div>
      <div class="col-s-4 text-nowrap">
        <button 
        type="submit" 
        class="btn btn-secondary"
        routerLink="/main">
        Connect without camera
      </button>
    </div>
  </div>
</div>