<div class="container-fluid connect">
  <div class="row">
    <div class="col-lg-4 offset-lg-2 d-flex align-items-center">
      <img class="webcam"
      alt="webcam"
      src="../../assets/images/placeholder.svg"
      />
    </div>
    <div class="col-lg-4">
      <h2>Connect your webcam</h2>
      <h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Praesent elementum facilisis leo vel fringilla est ullamcorper eget. Morbi tristique senectus et netus et.
      </h3>
      <div class="row connect-btns">
        <div class="col-s-4">
          <button 
          type="submit" 
          class="btn btn-primary"
          routerLink="/main">
          Connect
        </button>
      </div>
      <div class="col-s-4 text-nowrap">
        <button 
        type="submit" 
        class="btn btn-secondary"
        routerLink="/main">
        Connect without camera
      </button>
    </div>
  </div>
</div>