<div class="container-fluid main">
  <div class="row">
    <div class="col-s-8 offset-s-2 albums">
      <div class="row">
        <div class="col-md-4">
          <song-info
          [heading]="'Last played'"
          [description]="description"></song-info>
        </div>
        <div class="col-md-4">
          <song-info
          [heading]="'Current song'"
          [description]="description"></song-info>
        </div>
        <div class="col-md-4">
          <song-info
          [heading]="'Up next'"
          [description]="description"></song-info>
        </div>
      </div>
    </div>
  </div>
</div>