<div class="container main d-flex justify-content-center">
  <div *ngIf="loading; else elseBlock" 
    class="spinner-border text-light" 
    role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <ng-template #elseBlock>
    <!-- <div class="row">
      <div class="col-md-4">
        <song-info
        [heading]="'Last played'"
        [description]="description"></song-info>
      </div>
      <div class="col-md-4">
        <song-info
        [heading]="'Current song'"
        [description]="description"
        [imgUrl]="currentAlbumArt"></song-info>
      </div>
      <div class="col-md-4">
        <song-info
        [heading]="'Up next'"
        [description]="description"></song-info>
      </div>
    </div>
    <music-player></music-player> -->
    <iframe 
      [src]="playlistUrl"
      width="600" 
      height="380" 
      frameborder="0" 
      allowtransparency="true" 
      allow="encrypted-media"></iframe>
  </ng-template>
</div>
