<div class="container main">
  <div class="row">
    <div class="col-md-4">
      <song-info
      [heading]="'Last played'"
      [description]="description"></song-info>
    </div>
    <div class="col-md-4">
      <song-info
      [heading]="'Current song'"
      [description]="description"
      [imgUrl]="currentAlbumArt"></song-info>
    </div>
    <div class="col-md-4">
      <song-info
      [heading]="'Up next'"
      [description]="description"></song-info>
    </div>
  </div>
</div>
<iframe src="https://open.spotify.com/embed/playlist/0YOqJAoYs2dJk6KzrGJc5x" width="600" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
<music-player></music-player>