:host {
  font-size: 14px;
  color: var(--text-colour);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vertically-center {
  height: 100vh;
  display: flex;
  align-items: center;
  vertical-align: middle;
}