<div class="row emotion-modal">
  <div class="col-lg-6 d-flex align-items-center">
    <video #video class="user-emotions" autoplay></video>
  </div>
  <div class="col-lg-6">
    <h2>Detected Emotions</h2>
    <ul>
      <li>Anger</li>
      <li>Contempt</li>
      <li>Disgust</li>
      <li>Fear</li>
      <li>Happiness</li>
      <li>Neutral</li>
      <li>Sadness</li>
      <li>Suprise</li>
    </ul>
  </div>
  <div class="col">
    <p> <b>Note:</b> changes are not immediately reflected.</p>
  </div>
</div>