<div class="row emotion-modal">
  <div class="col-lg-6 d-flex align-items-center">
    <video #video class="user-emotions" autoplay></video>
  </div>
  <div class="col-lg-6">
    <h2>Detected Emotions</h2>
    <ul>
      <li>Anger: {{emotions.anger}}</li>
      <li>Contempt: {{emotions.contempt}}</li>
      <li>Disgust: {{emotions.disgust}}</li>
      <li>Fear: {{emotions.fear}}</li>
      <li>Happiness: {{emotions.happiness}}</li>
      <li>Neutral: {{emotions.neutral}}</li>
      <li>Sadness: {{emotions.sadness}}</li>
      <li>Suprise: {{emotions.surprise}}</li>
    </ul>
  </div>
  <div class="col">
    <p> <b>Note:</b> changes are not immediately reflected.</p>
  </div>
</div>