<div class="modal-backdrop">
  <div class="modal-window">
    <div class="row">
      <button>Close</button>
    </div>
    <div class="row">
      <div class="col-lg-5 offset-lg-1 d-flex align-items-center">
        <img class="user-emotions"
        alt="user-emotions"
        src="../../assets/images/placeholder.svg"
        />
      </div>
      <div class="col-lg-5">
        <h2>Detected Emotions</h2>
        <ul>
          <li>Anger</li>
          <li>Contempt</li>
          <li>Disgust</li>
          <li>Fear</li>
          <li>Happiness</li>
          <li>Neutral</li>
          <li>Sadness</li>
          <li>Suprise</li>
        </ul>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <p> <b>Note:</b> changes are not reflected immediatelly as values are only periodically updated from webcam data.</p>
        </div>
      </div>
    </div>
  </div>
</div>