<nav class="navbar fixed-bottom bg-dark">
  <div class="container-fluid">
    <div class="row mx-auto">
      <button class="button" (click)="previous()">
        <img class="icon"
          alt="play previous song button"
          src="../../assets/images/media-step-backward.svg"
          />
      </button>
      <!-- NOTE: USE NG-TEMPALTE TO SWITCH BETWEEN PLAY AND PAUSE BUTTON -->
      <button class="button" (click)="play()">
        <img class="icon"
          alt="play music button"
          src="../../assets/images/play-circle.svg"
          />
      </button>
      <button class="button" (click)="pause()">
        <img class="icon"
          alt="pause music button"
          src="../../assets/images/pause-circle.svg"
          />
      </button>
      <button class="button" (click)="skip()">
        <img class="icon"
          alt="skip song button"
          src="../../assets/images/media-step-forward.svg"
          />
      </button>
    </div>
  </div>
</nav>