<nav class="navbar fixed-bottom bg-dark">
  <div class="container">
    <a href="">
      <img class="icon"
        alt="step backward button"
        src="../../assets/images/media-step-backward.svg"
        />
    </a>
    <!-- NOTE: USE NG-TEMPALTE TO SWITCH BETWEEN 
      PLAY AND PAUSE BUTTON ONCE NGRX IS SCAFFOLDED -->
    <a href="">
      <img class="icon"
        alt="play button"
        src="../../assets/images/play-circle.svg"
        />
    </a>
    <a href="">
      <img class="icon"
        alt="pause button"
        src="../../assets/images/pause-circle.svg"
        />
    </a>
    <a href="">
      <img class="icon"
        alt="step forward button"
        src="../../assets/images/media-step-forward.svg"
        />
    </a>
  </div>
</nav>