/* You can add global styles to this file, and also import other style files */
:root {
  --text-colour: #092234;
  --background: #C3DFE0;
  --accent: #E26350;
  --light-blue: #357DED;
  --dark-blue: #135290;
}
html, body { 
  height: 100%; 
  background-color: var(--background);
}
body { 
  margin: 0; 
  font-family: "Montserrat-Regular", Arial, sans-serif; 
}
a {
  color: var(--light-blue);
}
h1 {
  font-family: "Montserrat-Bold", Arial, sans-serif;
  margin-bottom: 24px;
  text-align: center;
}
h2 {
  font-family: "Montserrat-Medium", Arial, sans-serif;
  font-size: 24px;
}
p {
  font-size: 18px;
}
button {
  margin: 5px 0;
}
b {
  font-family: "Montserrat-Bold", Arial, sans-serif;
}